.tb-border-0 {
  border: none;
}

.tb-border-y-0 {
  border-top: none;
  border-bottom: none;
}

.tb-border-x-0 {
  border-left: none;
  border-right: none;
}

.tb-border-l-0 {
  border-left: none;
}

.tb-border-b-0 {
  border-bottom: none;
}

.tb-border-t-0 {
  border-top: none;
}

.tb-border-r-0 {
  border-right: none;
}

.tb-border-1 {
  border: 1px solid #DDDDDD;
}

.tb-border-y-1 {
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}

.tb-border-x-1 {
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
}

.tb-border-left-1 {
  border-left: 1px solid #DDDDDD;
}

.tb-border-bottom-1 {
  border-bottom: 1px solid #DDDDDD;
}

.tb-border-top-1 {
  border-top: 1px solid #DDDDDD;
}

.tb-border-right-1 {
  border-right: 1px solid #DDDDDD;
}

.tb-border-1-dark {
  border: 1px solid #5B5B5B;
}

.tb-border-y-1-dark {
  border-top: 1px solid #5B5B5B;
  border-bottom: 1px solid #5B5B5B;
}

.tb-border-x-1-dark {
  border-left: 1px solid #5B5B5B;
  border-right: 1px solid #5B5B5B;
}

.tb-border-left-1-dark {
  border-left: 1px solid #5B5B5B;
}

.tb-border-bottom-1-dark {
  border-bottom: 1px solid #5B5B5B;
}

.tb-border-top-1-dark {
  border-top: 1px solid #5B5B5B;
}

.tb-border-right-1-dark {
  border-right: 1px solid #5B5B5B;
}
