.tb-gray {
  color: #BFBFBF;
}

.tb-lighter-gray {
  color: #F1F1F1;
}

.tb-dark-gray {
  color: #393939;
}

.tb-darker-gray {
  color: #5B5B5B;
}

.tb-darkest-gray {
  color: #3C3C3C;
}

.tb-white {
  color: #FFFFFF;
}

.tb-gold {
  color: #998242;
}

.tb-light-gold {
  color: #C9A645;
}

.tb-wine {
  color: #610012;
}

.tb-sky {
  color: #49B1BB;
}

.tb-navy {
  color: #002664;
}

.tb-pine {
  color: #3D554F;
}

.tb-ginger {
  color: #A54E00;
}

.tb-red {
  color: #DA4040;
}

.tb-green {
  color: #36A636;
}

.tb-bg-gray {
  background: #BFBFBF;
}

.tb-bg-lighter-gray {
  background: #F1F1F1;
}

.tb-bg-dark-gray {
  background: #393939;
}

.tb-bg-darker-gray {
  background: #5B5B5B;
}

.tb-bg-darkest-gray {
  background: #3C3C3C;
}

.tb-bg-white {
  background: #FFFFFF;
}

.tb-bg-gold {
  background: #998242;
}

.tb-bg-light-gold {
  background: #C9A645;
}

.tb-bg-wine {
  background: #610012;
}

.tb-bg-sky {
  background: #49B1BB;
}

.tb-bg-navy {
  background: #002664;
}

.tb-bg-pine {
  background: #3D554F;
}

.tb-bg-ginger {
  background: #A54E00;
}

.tb-bg-red {
  background: #DA4040;
}

.tb-bg-green {
  background: #36A636;
}
