@import "./abstracts/vars/colors-tb";
.tb-gray{
    color: $tb-gray;
}
.tb-lighter-gray{
    color: $tb-lighter-gray;
}
.tb-dark-gray{
    color: $tb-dark-gray;
}
.tb-darker-gray{
    color: $tb-darker-gray;
}
.tb-darkest-gray{
    color: $tb-darkest-gray;
}
.tb-white{
    color: $tb-white;
}
.tb-gold{
    color: $tb-gold;
}
.tb-light-gold{
    color: $tb-light-gold;
}
.tb-wine{
    color: $tb-wine;
}
.tb-sky{
    color: $tb-sky;
}
.tb-navy{
    color: $tb-navy;
}
.tb-pine{
    color: $tb-pine;
}
.tb-ginger{
    color: $tb-ginger;
}
.tb-red{
    color: $tb-red;
}
.tb-green{
    color: $tb-green;
}

.tb-bg-gray{
    background: $tb-gray;
}
.tb-bg-lighter-gray{
    background: $tb-lighter-gray;
}
.tb-bg-dark-gray{
    background: $tb-dark-gray;
}
.tb-bg-darker-gray{
    background: $tb-darker-gray;
}
.tb-bg-darkest-gray{
    background: $tb-darkest-gray;
}
.tb-bg-white{
    background: $tb-white;
}
.tb-bg-gold{
    background: $tb-gold;
}
.tb-bg-light-gold{
    background: $tb-light-gold;
}
.tb-bg-wine{
    background: $tb-wine;
}
.tb-bg-sky{
    background: $tb-sky;
}
.tb-bg-navy{
    background: $tb-navy;
}
.tb-bg-pine{
    background: $tb-pine;
}
.tb-bg-ginger{
    background: $tb-ginger;
}
.tb-bg-red{
    background: $tb-red;
}
.tb-bg-green{
    background: $tb-green;
}

