$tb-gray:#BFBFBF;
$tb-light-gray:#DDDDDD;
$tb-lighter-gray:#F1F1F1;
$tb-dark-gray:#393939;
$tb-darker-gray:#5B5B5B;
$tb-darkest-gray:#3C3C3C;
$tb-white:#FFFFFF;
$tb-gold:#998242;
$tb-light-gold:#C9A645;
$tb-wine:#610012;
$tb-sky:#49B1BB;
$tb-navy:#002664;
$tb-pine:#3D554F;
$tb-ginger:#A54E00;
$tb-red:#DA4040;
$tb-green:#36A636;
