//inculde function
@import '../functions';
//Tb Upgrade Font sizes
$tb-fontSize-10: fontSize(10);
$tb-fontSize-12: fontSize(12);
$tb-fontSize-16: fontSize(16);
$tb-fontSize-20: fontSize(20);
$tb-fontSize-24: fontSize(24);
$tb-fontSize-28: fontSize(28);
$tb-fontSize-36: fontSize(36);
$tb-fontSize-48: fontSize(48);
